<div className="container-fluid message-bar">
   <% if (locals.message) { %>
      <% if (success) { %>
          <div className="alert alert-secondary" role="alert">
              <%- message%>
          </div>
      <% }else{%>
          <div className="alert alert-danger" role="alert">
              <%- message%>
          </div>
      <% }%>
  <% }%>
</div>