<div className="container-fluid side-bar">
    <ul className="list-group">
        <li className="list-group-item"><a href="/admin/getAllAdmins/?is_dashboard=true">Admin</a></li>
        <li className="list-group-item">Item 2</li>
        <li className="list-group-item">Item 3</li>
        <li className="list-group-item">Item 4</li>
        <li className="list-group-item">Item 5</li>
    </ul>
</div>