<div className="container-fluid ">
    <div className="row d-flex justify-content-center">
        <div className="col-8">
            <div className="container-fluid login-bar">
                <div className="row d-flex justify-content-center">
                    <div className="col-10 login-form">
                        <h1>Login as an admin</h1>
                        <form action="/admin/login" method="POST">
                            <div className="form-outline mb-4">
                              <input type="email" name="email" id="form2Example1" className="form-control" />
                              <label className="form-label" for="form2Example1">Email address</label>
                            </div>
                          
                            <div className="form-outline mb-4">
                              <input type="password" name="password" id="form2Example2" className="form-control" />
                              <label className="form-label" for="form2Example2">Password</label>
                            </div>

                            <div className="text-center">
                                <a href="#!">Forgot password?</a><br>
                                <button type="submit" className="btn btn-outline-dark login_btn">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
                <br><br>
                <div className="row d-flex justify-content-center">
                    <div className="col-10 login-form">
                        <h1>Login as an employee</h1>
                        <form action="/employee/login" method="POST">
                            <div className="form-outline mb-4">
                              <input type="email" name="email" id="form2Example1" className="form-control" />
                              <label className="form-label" for="form2Example1">Email address</label>
                            </div>
                          
                            <div className="form-outline mb-4">
                              <input type="password" name="password" id="form2Example2" className="form-control" />
                              <label className="form-label" for="form2Example2">Password</label>
                            </div>

                            <div className="text-center">
                                <a href="#!">Forgot password?</a><br>
                                <button type="submit" className="btn btn-outline-dark login_btn">Login</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
