.body { 
    background-color: aqua;
 }

 .wrapper{
     width : 700px;
     margin: 0 auto;
     background-color: rgb(255, 255, 255);
     padding: 10px;
 }

 header, footer {
   
    margin: 0 auto;
    background-color: rgb(199, 241, 223);
    padding: 10px;
 }

 .layout-sidebar{
     display: grid;
     grid-template-columns: 1fr 2fr;
 } 

 side{
    background-color: darkcyan;
    color: azure;
    padding: 20px;
 }

 main{
    background-color: rgb(225, 228, 228);
    color: rgb(0, 4, 4);
    padding: 20px;
 }